/* custom styles */
header {
	display: inline-block;
	width: 100%;
}

header h1{
	display: inline-block;

}

header ul {
	display: inline-block;
}

header li {
	display: inline-block;
}

body {
	background-color: #123123;
	background-image: url("assets/imgs/CSC_0288.JPG");
}

.snow {
	background: url("assets/imgs/CSC_0288.JPG");
}


.senate {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	border-radius: 100%;
	
}

.navbar {
	text-decoration: none;
	color: #888888;
	font-family: lobster, monospace;
	font-size: 30px;
	background-color: lightblue;
}