/* custom styles */
header {
	display: inline-block;
	width: 100%;
}

header h1{
	display: inline-block;

}

header ul {
	display: inline-block;
}

header li {
	display: inline-block;
}

.senate {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 80%;
}

.navbar {
	text-decoration: none;
	color: #888888;
	font-family: lobster, monospace;
	font-size: 30px;
	background-color: lightblue;
}